#root {
margin: 0;
padding: 0;

}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita rolagem horizontal */
}

* {
  box-sizing: border-box; /* Certifica que padding/margin não causem overflow */
}

header{
    margin: 0;
    padding: 0;
  }
